.chord-progression-display {
  margin-top: 0px;
  height: 28px;
  margin-bottom: 16px;
  padding: 5px;
  background-color: #fefefe;
  border-radius: 5px;
  font-size: 10px;
}


.progression-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.chord-item {
  background-color: #eeeae6;
  padding: 2px 10px;
  border-radius: 3px;
  font-family: monospace;
  font-size: 10px; /* Base size for root note */
  line-height: 2.4; 
}

.chord-item .notation-container {
  position: relative;
  display: inline-block;
  width: 1; /* Ensure it doesn't take horizontal space */
  vertical-align: middle;
}

.chord-item sup {
  font-size: 0.8em; 
  position: absolute;
  top: -1.8em; 
  left: 0; 
}

.chord-item sub {
  font-size: 0.5em;
  position: absolute;
  bottom: -2.8em; 
  left: -2.4em; 
}

.chord-item .arpeggio-comma {
  font-size: 0.6em; /* Smaller than numbers in subscript */
  transform: scale(0.8); /* Additional scaling */
  position: relative;
  bottom: 0.1em; /* Align with numbers */
}

