.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.control-row {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.custom-chord-row {
  margin-left: 20px;
}

.controls button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s;
  color: #333;
}

.controls button.active {
  transform: scale(1.1);
}

.controls button:hover {
  opacity: 0.9;
}

.controls label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.controls input[type="text_short"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50px;
  margin-left: 5px;
}

.controls input[type="text_long"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  margin-left: 5px;
}

.controls input[type="range"] {
  width: 100px;
  margin-left: 5px;
}

.controls span {
  margin-left: 5px;
  font-size: 14px;
}

.direction-button {
  padding: 5px 10px;
  font-size: 16px;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}

.direction-button.up {
  background-color: #e8d7d7;
}

.direction-button.down {
  background-color: #cfdae2;
}

.keyboard-toggle {
  background-color: #eeeae6;
}

.help-arpeggiatorPattern {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: help;
  margin-left: 5px;
  font-size: 14px;
  position: relative;
}

.help-arpeggiatorPattern:hover::after,
.help-arpeggiatorPattern:focus::after {
  content: "Enter a sequence of numbers separated by commas to specify the order in which chord notes should be played. Numbers exceeding the count of notes in the chord will trigger the corresponding notes in higher octaves. The default pattern reflects that of BWV 846.";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  width: 300px;
  white-space: normal;
  text-align: center;
  z-index: 10;
}

.help-customChords {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: help;
  margin-left: 5px;
  font-size: 14px;
  position: relative;
}

.help-customChords:hover::after,
.help-customChords:focus::after {
  content: "Click the notes you want in the mini keyboard for your chord, with the bottom-left key being the root note";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  width: 200px;
  white-space: normal;
  text-align: center;
  z-index: 10;
}

.custom-chord-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.mini-keyboard.janko {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.janko-row {
  display: flex;
}

.mini-keyboard.janko .janko-row.top-row {
  margin-left: 5px;
}

.mini-key {
  width: 12px;
  height: 15px;
  border: 1px solid #ddd9d6;
  margin: .2px;
  padding: 0;
  cursor: pointer;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 3px;
}

.mini-key.active {
  background-color: #ff9999; /* Default for custom chords */
}

.chord-button-container {
  position: relative;
}

.floating-keyboard {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  padding: 5px;
  background-color: rgba(239, 235, 233, 0.9);
  border: 1px solid #ccc;
  border-radius: 3px;
}

.chord-button-container:hover .floating-keyboard,
.chord-button-container:focus-within .floating-keyboard {
  display: block;
}

.mini-keyboard.static .mini-key {
  cursor: default;
}