.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.control-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.custom-chord-row {
  margin-left: 20px;
}

.controls button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s;
}

.controls button.active {
  transform: scale(1.1);
}

.controls button:hover {
  opacity: 0.9;
}

.controls label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.controls input[type="text_short"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50px;
  margin-left: 5px;
}

.controls input[type="text_long"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  margin-left: 5px;
}

.controls input[type="range"] {
  width: 100px;
  margin-left: 5px;
}

.controls span {
  margin-left: 5px;
  font-size: 14px;
}

.direction-button {
  padding: 5px 10px;
  font-size: 16px;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}

.direction-button.up {
  background-color: #e8d7d7;
}

.direction-button.down {
  background-color: #cfdae2;
}

.keyboard-toggle {
  background-color: #e3e1de; /* Match single mode color */
}