.key {
  width: 50px;
  height: 70px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
  user-select: none; /* Prevent text selection on click */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE/Edge */
  touch-action: manipulation; /* Improve touch responsiveness */
}

.key.white {
  background-color: #fff;
  border: 1px solid #ccc;
}

.key.dark {
  background-color: #555;
  color: #fff;
}

.key.active {
  transform: scale(0.95); /* Slight press effect */
}