.key {
  width: 48px;
  height: 64px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
  user-select: none; /* Prevent text selection on click */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE/Edge */
  touch-action: manipulation; /* Improve touch responsiveness */
}

.key.white {
  background-color: #fff;
  border: 1px solid #aca7a4;
}

.key.Black {
  background-color: #545150;
  color: #fff;
  border: 1px solid #aca7a4;
}

.key.active {
  transform: scale(0.95); 
}

.key.uniform {
  background-color: #f7f4f2 !important; /* Override .Black */
  border: 1px solid #ccc;
  color: #585655 !important; 
}

.key.customhighlight {
  background-color: #373635 !important; 
  border: 1px solid #aca7a4;
  color: #fff !important; /* White text for visibility */
}