.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #e2ded8;
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

body {
  color: rgb(14, 13, 13);
}

.progression-controls {
  margin-top: 0px;
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 14px;
}

.progression-controls button {
  padding: 0px 12px;
  font-size: 1em;
  height: 36px ;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #eeeae6;
  transition: background-color 0.2s;
}

.progression-controls button.active {
  background-color: #dab3b3;
}

.progression-controls button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}